<div class="container" *ngIf="token">

  <h2>Gib diesen Code in dem Roboter ein zum Upload deines Bildes</h2>
  <mat-chip-set class="example-chip">
    <mat-chip
      class="example-box"
      *ngFor="let num of token.content.split('')"
    >
      {{ num }}
    </mat-chip>
  </mat-chip-set>

  <h2>Aus Sicherheitsgründen wird ihre Datei in</h2>
  <div class="timer">
    <span id="minutes"> {{ minutesToDday }} </span>Min
    <span id="seconds"> {{ secondsToDday }} </span>S
  </div>
  <h2>gelöscht</h2>

  <h2 (click)="reset()">
    Wenn du diese Datei löschen willst und eine neue Datei hochladen willst,
    klicke einfach auf diesen Text
  </h2>


</div>

