<div class="container" dataSharingServerDrag (files)="filesDropped($event)">
<div class="container" (click)="initFileUpload()">
  <div class="innerContainer">
    <input
      type="file"
      class="file-input"
      (change)="onFileSelected($event)"
      #fileUpload
    />
    <h1 >
  Klicke auf den Bildschirm um deine Datei hochzuladen
    </h1>

    <button  mat-mini-fab color="primary" >
      <mat-icon>attach_file</mat-icon>
    </button>
    <h1 class="text">
      oder ziehe die Datei mit der Maus auf diese Seite und lasse sie dann los        </h1>

  </div>
</div>
</div>
